
.pagination {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
}
.page-link{
    border: 1px solid gray;
    border-radius: 5px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.active {
    background-color: plum;
    font-weight: bold;
}
@media(min-width: 768px) {
    .pagination {
        display: flex;
        gap: 24px;
    }
    .page-link{
        border: 1px solid gray;
        border-radius: 5px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
