.genre-list {
    width: 1200px;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 6px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
