@media(max-width:767px){
    .header-group {
    display:flex;
    flex-direction: column;
        gap: 10px;
        padding: 10px;
}
.logo {
    text-decoration: none;
    color: purple;
    font-size: 40px;
}

header span{
    font-size:20px;
    color: purple;
}}

@media (min-width: 768px){
    .header-group {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}
    .logo {
        text-decoration: none;
        color: purple;
        font-size: 40px;
    }

    header span{
        font-size:20px;
        color: purple;
    }}
