.header-group {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    text-decoration: none;
    color: purple;
    font-size: 50px;
}

header span{
    font-size:20px;
    color: purple;
}

.theme-toggle{
    width: 70px;
    height: 36px;
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 999px;
    background: #000;
    position: relative;
    cursor: pointer;
    padding: 0;
    align-items: center;
}
